@import 'font/font-icon.css';
@import 'theme/theme.css';
@import 'utilityClasses/utils.css';
@import 'buttons/icon-buttons/icon-buttons.css';
@import 'buttons/material-buttons/material-buttons.css';
@import 'table/table_layout.css';
@import 'Select2/select2.css';
@import 'Select2/multi-select2.css';
@import 'icons/icons.css';
@import 'alert/alert.css';
@import 'loader/loader.css';
@import 'alert/sweet-alert.css';
@import 'fancybox/fancybox.css';
@import 'inputs/input.css';
@import 'inputs/radio.css';
@import 'inputs/checkbox.css';
@import 'dropdown/dropdown.css';
@import 'tabs/tabs.css';
@import 'modal/dialog.css';
@import 'modal/popover.css';
@import 'modal/modal.css';
@import 'datepicker/datepicker.css';

[ng\:cloak],
[ng-cloak],
.ng-cloak,
[v-cloak] {
    display: none !important;
}

:root {
    --icon-font-family: 'Material Symbols Rounded';
    --icon-font-size: 20px;
    --text-font: 'Roboto';
    --text-font-size-sm: 0.75rem;
    --text-font-size-md: 0.875rem;
    --text-font-size-title: 14px;
    --padding-icon-button: 0.5rem 1.25rem 0.5rem 0.75rem;
    --padding-sm: clamp(0.5rem, 0.75%, 1.5rem) clamp(0.5rem, 1%, 1.5rem);
    --padding-md: clamp(1.5rem, 1.5%, 3rem);
    --padding-lg: clamp(3rem, 3%, 6rem);
    --layout-gap-sm: clamp(0.5rem, 0.5vmax, 1rem);
    --layout-gap-md: clamp(1rem, 1vmax, 1.5rem);
    --layout-gap-lg: clamp(2rem, 1.5vmax, 4rem);
    --input-width-nav: 30ch;
    --label-width: clamp(10ch, 26%, 40ch);
    --page-title-height: 40px;
    --page-navigation-height: 35px;
}

:where(.body-content) {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-md);
    padding: 0 24px;
}

.navigation-bar a {
    color: inherit;
}

@media (max-width: 1250px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .col-span-2 {
        grid-column: unset;
    }

    .card {
        width: auto;
    }

    #contracts-awaiting-authorization {
        display: block;
    }
}

body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: var(--text-font);
    gap: var(--layout-gap-sm);
    font-weight: 400;
    font-size: var(--text-font-size-sm);
    font-style: normal;
    line-height: 16px;
    color: var(--md-sys-color-on-surface);
    letter-spacing: 0.4px;
    background-color: var(--md-sys-color-surface);
}

a[disabled],
select:disabled {
    pointer-events: none;
    color: inherit;
    opacity: 0.4;
    cursor: not-allowed;
    border-color: rgba(118, 118, 118, 0.3);
}

.main,
.App {
    display: flex;
    flex-direction: column;
    gap: var(--layout-gap-sm);
    width: 100%;
}

.pagetitle {
    display: flex;
    gap: var(--layout-gap-md);
    align-items: center;
    padding: var(--padding-sm);
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    font-size: var(--text-font-size-title);
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 1px;
    height: var(--page-title-height);
    justify-content: space-between;
}

/* * For legacy * */

#user-docs {
    margin: 0 0 0 auto;
}

.navigation-bar {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding: 8px 8px;
    background-color: var(--md-sys-color-surface-container-lowest);
    /*TODO fix me*/
    /*color: var(--md-sys-color-on-secondary);*/
    box-shadow: 0 18px 10px -15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
    width: 100%;
}

.no-box-shadow {
    box-shadow: none;
}

.navigation-bar label {
    white-space: nowrap;
}

strong {
    font-size: var(--text-font-size-md);
}

.help-text {
    color: gray;
}

.md-card{
    --legend-offset: -19px;
    --fieldset-height: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    height: var(--fieldset-height);
    /** TODO: Change this to use design token padding **/
    padding: 18px;
    background: var(--md-sys-color-surface-container-lowest);
    color: var(--md-sys-color-on-surface);
    border: 1px solid var(--md-sys-color-secondary-container);
    border-radius: 12px;
    flex: 1;

    > hr {
        width: -webkit-fill-available;
    }
}

fieldset:is(table) input[type='text'] {
    width: 100%;
}

.fit-content {
    height: fit-content;
}

.md-card-header {
    display: flex;
    float: left;
    font-weight: 500;
    font-size: var(--text-font-size-md);
    line-height: 20px;
    box-sizing: border-box;
    height: 0px;
    width: -webkit-fill-available;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding-md);
    background: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
    margin: var(--legend-offset) var(--legend-offset) 0 var(--legend-offset);
    border: 1px solid var(--md-sys-color-secondary-container);
    border-radius: 12px 12px 0 0;
}

.form-group {
    display: flex;
    align-items: center;
    padding: 2px 0;
    gap: var(--layout-gap-sm);
    width: 100%;
}

.info-table .form-group > label {
    width: auto;
}

.form-group > label,
.details > label {
    width: var(--label-width);
    min-width: var(--label-width);
    overflow-wrap: break-word;
}

.form-group:focus-within label {
    font-weight: 600;
    color: var(--md-outlined-text-field-focus-outline-color);
}

#attachments-block {
    width: 100%;
    height: clamp(50px, 5%, 100px);
    display: flex;
    flex-wrap: wrap;
}

div[id^='attachment-drop-area'] {
    padding: 24px;
    text-align: center;
    font-size: var(--text-font-size-md);
    border: 2px #466275 dashed;
    color: inherit;
    display: flex;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    width: clamp(50%, 90%, 100%);
    margin-bottom: 15px;
    margin-top: 15px;
}

div[id^='attachment-drop-area']:after {
    content: attr(title);
}

div[id^='attachment-drop-area']:before {
    content: '\e2c3';
    font-size: 30px;
    font-family: var(--icon-font-family);
    font-variation-settings: 'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    color: inherit;
}

.progress {
    width: 90%;
    display: none;
    margin: 0 auto;
}

:where(.col-span-2) {
    grid-column: span 2;
}

.row-span-2 {
    grid-row: span 2;
}

.row-span-3 {
    grid-row: span 3;
}

.form-set {
    display: flex;
    gap: var(--layout-gap-sm);
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
}

/* ------------------------------------Card styling---------------------------------------------------- */

.card {
    display: flex;
    border-radius: 12px;
    row-gap: 8px;
    gap: 10px;
    flex-direction: column;
    padding: 12px 4px 12px 16px;
}

.card-header {
    padding: 15px 5px;
    font-weight: bold;
    width: 100%;
    margin: 0;
}

.card-body {
    flex-wrap: nowrap;
    margin: auto;
    padding: 12px;
    justify-content: center;
}

.card-footer {
    padding: 8px;
    display: flex;
    gap: 1ch;
}

ul {
    list-style-type: none;
}

iframe {
    border: none;
}

.grid-item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navigation-bar a label {
    padding-top: 8px;
    font-family: inherit;
    font-weight: 400;
}

.vertical-flex {
    display: flex;
    flex-direction: column;
}

.radioGroup {
    display: flex;
    padding: 8px 0;
}

.radioGroup label {
    display: flex;
    align-items: center;
    gap: 2px;
}

.flex-h-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

:where(.list-item) {
    gap: 10px;
    padding: 5px;
    border: 1px solid var(--md-sys-color-surface-dim);
    background: var(--md-sys-color-surface);
}

/* ------------------------------Summery Section---------------------------------- */
summary {
    padding: 5px 10px;
    display: flex;
    gap: 1ch;
    align-items: center;
    cursor: pointer;
    height: 30px;
}

summary:hover {
    background-color: rgba(183, 192, 199, 0.2);
}

details > div {
    padding: 14px 0;
}

summary > label {
    display: flex;
    font-weight: bold;
    align-items: center;
}

summary::before {
    content: '\e5cf';
    font-size: 24px;
    font-family: var(--icon-font-family);
    font-variation-settings: 'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    color: inherit;
}

details[open] summary::before {
    content: '\e5ce';
    font-size: 24px;
    font-family: var(--icon-font-family);
    font-variation-settings: 'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48;
    color: inherit;
}

#contracts-awaiting-authorization {
    display: none;
}

:where(
        .filter-options,
        .planning-records,
        #mainNav,
        .table-container,
        .ag-body-vertical-scroll-viewport,
        .ReactModal__Content,
        body,
        html
    )::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

:where(
        .filter-options,
        .planning-records,
        #mainNav,
        .table-container,
        .ag-body-vertical-scroll-viewport,
        .ReactModal__Content,
        body,
        html
    )::-webkit-scrollbar-thumb {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
}

/* -----------------------For responsive Ui ------------------------------------------------------ */

.order-line-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.order-line-grid-container .ol-actions .col-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-tertiary-container);
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid rgba(224, 224, 224, 1);
    padding: 10px 8px;
}

.order-line-grid-container .ol-source {
    border-right: 2px solid rgb(170, 169, 169);
}

.order-line-grid-container .ol-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    right: 0;
    top: 6%;
    position: absolute;
}

.order-line-grid-container .ol-source,
.order-line-grid-container .ol-destination {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h-line {
    width: 100%;
    height: 8px;
    background-color: rgba(202, 230, 253, 1);
}

span svg path {
    fill: var(--md-sys-color-on-surface);
}

.no-text-wrap {
    white-space: nowrap;
}

.image-container img {
    width: 300px;
    aspect-ratio: 1 / 1;
}

a {
    text-decoration: none;
}

/*------------------This css is only of planning screen--------------------------------------*/
.planning-container {
    display: grid;
    transition: grid-template-columns 0.8s ease;
    grid-template-columns: 300px auto;
    grid-column-gap: 10px;
}

.planning-container-expanded {
    grid-template-columns: 0 auto;
}

.grid-4-cols {
    grid-template-columns: repeat(4, 300px);
}

body:has(.planning-container) {
    overflow: hidden;
}

.filter-options {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.planning-records {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.planning-container.planning-container-expanded fieldset:first-child {
    display: none;
}

.planning-container.planning-container-expanded fieldset:nth-child(2) {
    grid-column: span 2;
}

.body-content:has(#root > .App) body {
    overflow: hidden;
    height: 100vh;
}

abbr[title] {
    text-decoration: none;
}

.ReactModalPortal {
    z-index: 3000;
}

:root, :host {
    --md-sys-color-background: #fdf8f7;

    --md-sys-color-on-background: #1c1b1b;
    --md-sys-color-surface: #fdf8f7;
    --md-sys-color-surface-dim: #ddd9d8;
    --md-sys-color-surface-bright: #fdf8f7;
    --md-sys-color-surface-container-lowest: #ffffff;
    --md-sys-color-surface-container-low: #f7f3f2;
    --md-sys-color-surface-container: #f1edec;
    --md-sys-color-surface-container-high: #ece7e6;
    --md-sys-color-surface-container-highest: #e6e1e1;
    --md-sys-color-on-surface: #1c1b1b;
    --md-sys-color-surface-variant: #eddfdf;
    --md-sys-color-on-surface-variant: #4d4545;
    --md-sys-color-inverse-surface: #313030;
    --md-sys-color-inverse-on-surface: #f4f0ef;
    --md-sys-color-outline: #7f7575;
    --md-sys-color-outline-variant: #d0c4c3;
    --md-sys-color-shadow: #000000;
    --md-sys-color-scrim: #000000;
    --md-sys-color-surface-tint: #635d5d;
    --md-sys-color-primary: #1a1616;
    --md-sys-color-on-primary: #ffffff;
    --md-sys-color-primary-container: #3a3535;
    --md-sys-color-on-primary-container: #ccc5c4;
    --md-sys-color-inverse-primary: #cdc5c4;
    --md-sys-color-secondary: #615d5d;
    --md-sys-color-on-secondary: #ffffff;
    --md-sys-color-secondary-container: #e8e2e1;
    --md-sys-color-on-secondary-container: #4b4848;
    --md-sys-color-tertiary: #181614;
    --md-sys-color-on-tertiary: #ffffff;
    --md-sys-color-tertiary-container: #383533;
    --md-sys-color-on-tertiary-container: #cbc4c1;
    --md-sys-color-error: #ba1a1a;
    --md-sys-color-on-error: #ffffff;
    --md-sys-color-error-container: #ffdad6;
    --md-sys-color-on-error-container: #410002;

}