/*-------------------------------Flex Utility classes-----------------------------*/

:where(.columns) {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.rows {
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.gap-sm {
    gap: 0.5rem;
}
.gap-md {
    gap: 1rem;
}
.gap-0 {
    gap: 0;
}
.flex-end {
    justify-content: flex-end;
}
.flex-start {
    justify-content: flex-start;
}
.flex-center {
    justify-content: center;
}
.space-between {
    justify-content: space-between;
}
.center-aligned {
    align-self: center;
}

/*-------------------------------Grid Utility classes-----------------------------*/

:where(.grid-container) {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-row-gap: 6px;
    grid-column-gap: 1rem;
    margin: 10px 0 10px 0;
}
.grid-col-5 {
    grid-template-columns: repeat(5, minmax(250px, 1fr));
}
.grid-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-col-1 {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 0 10px 0;
    row-gap: 1rem;
    height: fit-content;
}

.grid-col-2 {
    grid-template-columns: 1fr 6fr;
}
/*-------------------------------Text Utility classes-----------------------------*/
.text-danger {
    color: var(--md-sys-color-error-light);
}
.text-success {
    color: green;
}

.warning-message {
    display: flex;
    color: #ff5353;
    word-wrap: normal;
    max-width: 300px;
}

.text-primary {
    color: #594aff;
}
.text-secondary {
    color: #048704;
}
.text-dark {
    color: #000000;
}

/*-------------------------------Width Utility classes-----------------------------*/
.w-100 {
    width: 100%;
}
.w-50 {
    width: 50%;
}
.w-75 {
    width: 75%;
}
.w-max-250 {
    max-width: 250px;
}

/*-------------------------------Height Utility classes-----------------------------*/
.h-100 {
    width: 100%;
}
.h-50 {
    width: 50%;
}
.h-75 {
    width: 75%;
}
.h-auto {
    height: auto;
}

/*-------------------------------Padding Utility classes-----------------------------*/

.p-4 {
    padding: 40px;
}
.p-3 {
    padding: 30px;
}
.p-0 {
    padding: 0;
}
.px-md {
    padding: 0 10px;
}
.py-md {
    padding: 10px 0;
}

.margin-zero {
    margin: 0;
}
/*this class is applied to all unit dropdowns*/
.unit {
    width: unset;
    --select-input-width: clamp(10ch, 15ch, 33ch);
}
.bold {
    font-weight: bold;
}
.square-bullet {
    list-style-type: square;
}

/* Hide icon in type submit button where not needed */
.hide-icon::before {
    content: none;
}

.trimmed-info {
    display: block;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.trimmed-info-sm {
    display: block;
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* TODO: Used in contract and other places, refactor !! */
.bg--green {
    --background-color: #4caf50;
}
