:where(.select2-container-multi .select2-choices) {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.select2-container-multi {
    padding: 3px 5px;

    --input-border: 1px solid var(--select-input-border-color);
}

.select2-locked {
    padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}
.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    width: 20px;
    min-width: 10px;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    outline: 0;
    min-width: auto;
    border: none;
}

.select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('./select2-spinner.gif') no-repeat 100% !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 6px;
    display: flex;
    min-width: fit-content;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    position: relative;
    border: 1px solid var(--select-input-border-color);
    border-radius: 3px;
}
.select2-container-multi .select2-choices .select2-search-choice span {
    cursor: default;
}

.select2-container-multi .select2-search-choice-close::before {
    content: '\e5cd';
    top: 2px;
    right: -5px;
    align-items: center;
    position: relative;
    background-color: inherit;
    box-sizing: border-box;
    font-size: 15px;
    font-family: var(--icon-font-family);
    font-variation-settings:
        'FILL' 10,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-image: none;
    border: 1px solid var(--select-input-border-color);
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid var(--select-input-border-color);
    background-image: none;
    background-color: #f4f4f4;
}
.multi-lg {
    --select-input-width: clamp(10ch, 54ch, 52ch);
}
.select2-container-multi.multi-md {
    width: clamp(10ch, 35ch, 52ch) !important;
}
