:root {
    --select-input-border-color: var(--md-sys-color-secondary);
    --select-input-width: clamp(10ch, 36ch, 45ch);
    --md-filled-select-text-field-container-color: var(--md-sys-color-surface-container-highest);
    --md-filled-select-text-field-container-shape: 4px;
    --md-filled-select-text-field-input-text-color: var(--md-sys-color-on-surface);
    /*TODO fix me after going material docs.*/
    /*--md-filled-select-text-field-input-text-font:var(--md-sys-typescale-body-large-font);*/
}

.select2-container ul {
    margin: 0;
}
:where(.select2-container > .select2-choice) {
    display: flex;
    min-height: var(--select-input-height);
    align-items: center;
    padding: 6px 1px 6px 4px;
    box-sizing: border-box;
    align-content: center;
    overflow: hidden;
    position: relative;
    justify-content: space-between;
    color: var(--md-sys-color-on-surface);
    text-decoration: none;
    border-radius: 4px;
}
:where(.select2-container) {
    --select-input-width: clamp(10ch, 30ch, 33ch);
    --select-input-border-color: var(--md-sys-color-secondary);
    --select-input-height: 28px;
    --select-input-padding: 8px 0px 8px 4px;
    --select-input-border-radius: 4px;
    --input-border: 1px solid var(--select-input-border-color);
    /* Override select2's own width */
    width: var(--select-input-width) !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: var(--select-input-height);
    position: relative;
    border: var(--input-border);
    border-radius: var(--select-input-border-radius);
}
:where(.select2-container.select2-container-multi) {
    width: var(--select-input-width) !important;
}
:where(.select2-container a.ng-invalid-required),
:where(.select2-container-multi.ng-invalid-required .select2-choices) {
    border: 1px solid var(--md-custom-text-required-field-color);
}
:where(.select2-container-disabled) {
    pointer-events: none;
    opacity: 0.4;
    cursor: not-allowed;
}
.select-input-small,
.select-sm {
    --select-input-width: clamp(5ch, 15ch, 33ch);
}
.select2-choice:has(span:empty) .select2-search-choice-close::before {
    display: none;
}

.select2-result {
    padding: 6px 0;
    font-family: var(--md-sys-typescale-body-large-font-family-name);
    font-style: var(--md-sys-typescale-body-large-font-family-style);
    font-weight: var(--md-sys-typescale-label-large-font-weight);
    font-size: var(--md-sys-typescale-label-large-font-size);
    letter-spacing: var(--md-sys-typescale-label-large-letter-spacing);
    line-height: var(--md-sys-typescale-label-large-line-height);
}

.select2-container a.select2-choice > span {
    overflow: hidden;
    width: calc(var(--select-input-width) - 6ch);
    white-space: nowrap;
    text-overflow: ellipsis;
}

.select2-result-label:hover,
.select2-highlighted div {
    color: #fff;
}

.select2-search-choice-close::before {
    content: '\e5cd';
    align-items: center;
    background-color: inherit;
    box-sizing: border-box;
    color: var(--md-filled-select-text-field-input-text-color);
    font-size: 14px;
    font-family: var(--icon-font-family);
    font-variation-settings:
        'FILL' 10,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
}
.select2-container .select2-choice .select2-search-choice-close,
.select2-container.select2-container-disabled .select2-choice .select2-search-choice-close {
    display: none;
}
:where(.select2-container.select2-allowclear):not(.select2-container-disabled)
    .select2-choice
    .select2-search-choice-close {
    display: flex;
}
.select2-result-with-children > div.select2-result-label:hover {
    color: var(--primary-text, rgba(0, 0, 0, 0.87));
}

.select2-container.select2-allowclear .select2-choice span {
    width: clamp(130px, 80%, 95%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.select2-drop-mask {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9998;
}

.select2-drop {
    min-width: 250px;
    margin-top: 3px;
    position: absolute;
    z-index: 9999;
    top: 100%;

    background: var(--md-filled-select-text-field-container-color);
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.3),
        0 2px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    flex: none;
    flex-grow: 0;
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-bottom: 0;
    background: var(--md-filled-select-text-field-container-color);
    color: var(--md-filled-select-text-field-input-text-color);
    box-shadow:
        0 2px 6px 2px rgba(0, 0, 0, 0.15),
        0 1px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    transition: visibility 0.4s;
}

.select2-container.select2-dropdown-open .select2-choice div b::before {
    content: '\e5ce';
}

.select2-container .select2-choice div b::before {
    content: '\e5cf';
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--icon-font-family);
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
    font-size: 22px;
}
.select2-results::-webkit-scrollbar {
    width: 5px;
}

.select2-search {
    display: flex;
    padding: 8px;
    gap: 5px;
}
.select2-search::before {
    content: '\e8b6';
    display: flex;
    align-items: center;
    font-family: var(--icon-font-family);
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
    font-size: var(--icon-font-size);
}

.select2-search input.select2-active {
    background: url('./select2-spinner.gif') no-repeat 100% !important;
    background-color: #fff;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #acacac;
    outline: none;
}

::-webkit-scrollbar-thumb {
    background: var(--button-bg-color);
    height: 50px;
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border-top-color: transparent;
}

.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-dropdown-open .select2-choice div b {
    background-position: -18px 1px;
}

/* results */
.select2-results {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    max-height: 300px;
    padding: 0 0 0 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
    padding-left: 60px;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;
    min-height: 1em;
}

.select2-results .select2-highlighted {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
}
.select2-results .select2-highlighted ul {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
    display: list-item;
    padding: 2px 10px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
    cursor: default;
}
.select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: inherit url('./select2-spinner.gif') no-repeat 100%;
}

.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: none;
}
:where(li.select2-result-with-children > .select2-result-label) {
    font-weight: bold;
}
.select2-results ul.select2-result-sub > li .select2-result-label {
    display: flex;
    padding-left: 40px;
    justify-content: flex-start;
    align-items: center;
}
.select2-highlighted .select2-match {
    color: #fff;
}

.select2-offscreen,
.select2-offscreen:focus {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    border: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    outline: 0;
    left: 0;
}

.select2-offscreen:focus {
    left: var(--label-width);
    bottom: 0;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
.select-hour-minute {
    --select-input-width: calc(clamp(10ch, 30ch, 33ch) / 2 - 4px);
}
