.flash-dialog {
    padding: 0;
    border: none;
    top: 5vh;
    background: none;
}

:root {
    --md-dialog-container-color: var(--md-sys-color-surface-container-high);
    --md-dialog-headline-color: var(--md-sys-color-on-surface);
    --md-dialog-supporting-text-color: var(--md-sys-color-on-surface-variant);
    --md-dialog-size: 50%;
}

@keyframes fadeIn {
    0% {
        scale: 0.5;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

.dialog {
    animation: fadeIn 300ms ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 16px;
    transform: translate(-50%, -50%);
    background: var(--md-dialog-container-color);
    color: var(--md-dialog-supporting-text-color);
    font-family: var(--md-sys-typescale-body-medium-font-family-name);
    font-style: var(--md-sys-typescale-body-medium-font-family-style);
    font-weight: var(--md-sys-typescale-body-medium-font-weight);
    font-size: var(--md-sys-typescale-body-medium-font-size);
    line-height: var(--md-sys-typescale-body-medium-line-height);
    letter-spacing: var(--md-sys-typescale-body-medium-letter-spacing);
}

.dialog-header {
    color: var(--md-sys-color-on-surface);
    font-family: var(--md-sys-typescale-headline-small-font-family-name);
    font-style: var(--md-sys-typescale-headline-small-font-family-style);
    font-weight: var(--md-sys-typescale-headline-small-font-weight);
    font-size: var(--md-sys-typescale-headline-small-font-size);
    line-height: var(--md-sys-typescale-headline-small-line-height);
    letter-spacing: var(--md-sys-typescale-headline-small-letter-spacing);
}

.dialog-confirmation-lg {
    --md-dialog-container-color: var(--md-sys-color-surface);
    align-items: center;
    height: 90vh;
    flex-wrap: wrap;
    padding: 10px;
}

.dialog-confirmation-md {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--layout-gap-sm);
    height: 250px;
    padding: 10px;
}

.dialog-confirmation-sm {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--layout-gap-sm);
    height: 150px;
    padding: 10px;
}

.dialog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.iframe-dialog {
    padding: 0;
    width: 96vw;
    height: 96vh;
    --md-dialog-container-color: var(--md-sys-color-surface);
}
.dialog-modal {
    display: block;
    padding: 10px;
    overflow: auto;
    --md-dialog-container-color: var(--md-sys-color-surface);
}
