:root {
    --md-filled-tonal-button-container-color: var(--md-sys-color-secondary-container);
    --md-filled-button-container-shape: 9999px;
    --md-text-button-label-text-color: var(--md-sys-color-primary);
}
.outlined-button {
    background: none;
    color: var(--md-text-button-label-text-color);
    outline: solid 1px color-mix(in srgb, var(--md-text-button-label-text-color) 90%, transparent);
}
:where(.outlined-button):hover:not(:disabled) {
    background-color: color-mix(in srgb, var(--md-sys-color-primary) 20%, transparent);
}

:where(.outlined-button):disabled {
    opacity: 0.38;
    cursor: not-allowed;
    pointer-events: none;
}
