:root {
    --md-text-button-label-text-color: var(--md-sys-color-primary);
    --md-text-button-label-text-font: var(--md-sys-typescale-label-large-font);
}

:where(button[type='button']) {
    border: none;
}
:where(.text-button) {
    display: flex;
    row-gap: var(--button-row-gap);
    align-items: center;
    opacity: 1;
    border: none;
    cursor: pointer;
    font: var(--md-text-button-label-text-font);
    font-weight: 500;
    letter-spacing: var(--md-sys-typescale-label-medium-letter-spacing);
    background: none;
    justify-content: flex-start;
    white-space: unset;
    height: fit-content;
    text-decoration: none;
    color: var(--md-text-button-label-text-color);
}
:where(.text-button):where(:not(:disabled):hover) {
    background-color: color-mix(in srgb, var(--md-text-button-label-text-color) 5%, transparent);
    border-radius: 0;
}
