:root {
    /* light */
    --md-sys-color-primary-light: #466275;
    --md-sys-color-on-primary-light: #ffffff;
    --md-sys-color-primary-container-light: #cae6fd;
    --md-sys-color-on-primary-container-light: #001e2e;
    --md-sys-color-secondary-light: #595f64;
    --md-sys-color-on-secondary-light: #ffffff;
    --md-sys-color-secondary-container-light: #dee3e9;
    --md-sys-color-on-secondary-container-light: #171c21;
    --md-sys-color-tertiary-light: #615c6a;
    --md-sys-color-on-tertiary-light: #ffffff;
    --md-sys-color-tertiary-container-light: #e7dff0;
    --md-sys-color-on-tertiary-container-light: #1d1a25;
    --md-sys-color-error-light: #ba1a1a;
    --md-sys-color-on-error-light: #ffffff;
    --md-sys-color-error-container-light: #ffdad6;
    --md-sys-color-on-error-container-light: #410002;
    --md-sys-color-outline-light: #767779;
    --md-sys-color-background-light: #fefcfc;
    --md-sys-color-on-background-light: #1b1c1c;
    --md-sys-color-surface-light: #fefcfc;
    --md-sys-color-on-surface-light: #1b1c1c;
    --md-sys-color-surface-variant-light: #e2e2e5;
    --md-sys-color-on-surface-variant-light: #454749;
    --md-sys-color-inverse-surface-light: #303031;
    --md-sys-color-inverse-on-surface-light: #f2f0f1;
    --md-sys-color-inverse-primary-light: #aecae1;
    --md-sys-color-shadow-light: #000000;
    --md-sys-color-surface-tint-light: #466275;
    --md-sys-color-outline-variant-light: #cac4d0;
    --md-sys-color-scrim-light: #000000;
    --md-sys-color-surface-container-highest-light: #e6e1e6;
    --md-sys-color-surface-container-high-light: #ece7eb;
    --md-sys-color-surface-container-light: #f2ecf1;
    --md-sys-color-surface-container-low-light: #f7f2f7;
    --md-sys-color-surface-container-lowest-light: #ffffff;
    --md-sys-color-surface-bright-light: #fdf8fd;
    --md-sys-color-surface-dim-light: #ddd8dd;
    /* dark */
    --md-sys-color-primary-dark: #aecae1;
    --md-sys-color-on-primary-dark: #173345;
    --md-sys-color-primary-container-dark: #2f4a5c;
    --md-sys-color-on-primary-container-dark: #cae6fd;
    --md-sys-color-secondary-dark: #c2c7cd;
    --md-sys-color-on-secondary-dark: #d0bcff;
    --md-sys-color-secondary-container-dark: #42474c;
    --md-sys-color-on-secondary-container-dark: #dee3e9;
    --md-sys-color-tertiary-dark: #cbc4d4;
    --md-sys-color-on-tertiary-dark: #5d1134;
    --md-sys-color-tertiary-container-dark: #494552;
    --md-sys-color-on-tertiary-container-dark: #ffd9e3;
    --md-sys-color-error-dark: #ffb4ab;
    --md-sys-color-on-error-dark: #690005;
    --md-sys-color-error-container-dark: #93000a;
    --md-sys-color-on-error-container-dark: #ffb4ab;
    --md-sys-color-outline-dark: #909193;
    --md-sys-color-background-dark: #1b1c1c;
    --md-sys-color-on-background-dark: #e4e2e3;
    --md-sys-color-surface-dark: #1b1c1c;
    --md-sys-color-on-surface-dark: #e4e2e3;
    --md-sys-color-surface-variant-dark: #454749;
    --md-sys-color-on-surface-variant-dark: #c6c6c9;
    --md-sys-color-inverse-surface-dark: #e4e2e3;
    --md-sys-color-inverse-on-surface-dark: #303031;
    --md-sys-color-inverse-primary-dark: #466275;
    --md-sys-color-shadow-dark: #000000;
    --md-sys-color-surface-tint-dark: #aecae1;
    --md-sys-color-outline-variant-dark: #49454f;
    --md-sys-color-scrim-dark: #000000;
    --md-sys-color-surface-container-highest-dark: #363438;
    --md-sys-color-surface-container-high-dark: #2b292d;
    --md-sys-color-surface-container-dark: #211f22;
    --md-sys-color-surface-container-low-dark: #1c1b1e;
    --md-sys-color-surface-container-lowest-dark: #0f0e11;
    --md-sys-color-surface-bright-dark: #3a383c;
    --md-sys-color-surface-dim-dark: #141316;

    /* Custom Colors */
    --md-custom-color-qtwarning-light: #fff3cd;
    --md-custom-color-on-qtwarning-light: #856404;
    --md-custom-color-qtwarning-container-light: #fff3cd;
    --md-custom-color-on-qtwarning-container-light: #fff3cd;

    --md-custom-color-qtwarning-dark: #fff3cd;
    --md-custom-color-on-qtwarning-dark: #856404;
    --md-custom-color-qtwarning-container-dark: #fff3cd;
    --md-custom-color-on-qtwarning-container-dark: #fff3cd;

    --md-custom-color-qtsuccess-light: #d4edda;
    --md-custom-color-on-qtsuccess-light: #155724;
    --md-custom-color-qtsuccess-container-light: #fff3cd;
    --md-custom-color-on-qtsuccess-container-light: #fff3cd;

    --md-custom-color-qtsuccess-dark: #d4edda;
    --md-custom-color-on-qtsuccess-dark: #155724;
    --md-custom-color-qtsuccess-container-dark: #fff3cd;
    --md-custom-color-on-qtsuccess-container-dark: #fff3cd;

    --md-custom-color-qtinfo-light: #d1ecf1;
    --md-custom-text-required-field-color: #e80e0e;
    --md-custom-color-on-qtinfo-light: #0c5460;
    --md-custom-color-qtinfo-container-light: #fff3cd;
    --md-custom-color-on-qtinfo-container-light: #fff3cd;

    --md-custom-color-qtinfo-dark: #3e3e3e;
    --md-custom-color-on-qtinfo-dark: #e3e3e3;
    --md-custom-color-qtinfo-container-dark: #fff3cd;
    --md-custom-color-on-qtinfo-container-dark: #fff3cd;

    --md-custom-color-qtblue-light: #1d394b;
    --md-custom-color-on-qtblue-light: #fefefe;
    --md-custom-color-qtblue-container-light: #fff3cd;
    --md-custom-color-on-qtblue-container-light: #fff3cd;

    --md-custom-color-qtblue-dark: #0c171a;
    --md-custom-color-on-qtblue-dark: #fefefe;
    --md-custom-color-qtblue-container-dark: #fff3cd;
    --md-custom-color-on-qtblue-container-dark: #fff3cd;

    /* Dialog custom variables*/
    --md-dialog-overlay-color-light: rgba(83, 83, 83, 0.7);
    --md-dialog-overlay-color-dark: rgba(21, 21, 21, 0.7);

    /* display - large */
    --md-sys-typescale-display-large-font-family-name: Roboto;
    --md-sys-typescale-display-large-font-family-style: Regular;
    --md-sys-typescale-display-large-font-weight: 400px;
    --md-sys-typescale-display-large-font-size: 57px;
    --md-sys-typescale-display-large-line-height: 64px;
    --md-sys-typescale-display-large-letter-spacing: -0.25px;
    /* display - medium */
    --md-sys-typescale-display-medium-font-family-name: Roboto;
    --md-sys-typescale-display-medium-font-family-style: Regular;
    --md-sys-typescale-display-medium-font-weight: 400px;
    --md-sys-typescale-display-medium-font-size: 45px;
    --md-sys-typescale-display-medium-line-height: 52px;
    --md-sys-typescale-display-medium-letter-spacing: 0px;
    /* display - small */
    --md-sys-typescale-display-small-font-family-name: Roboto;
    --md-sys-typescale-display-small-font-family-style: Regular;
    --md-sys-typescale-display-small-font-weight: 400px;
    --md-sys-typescale-display-small-font-size: 36px;
    --md-sys-typescale-display-small-line-height: 44px;
    --md-sys-typescale-display-small-letter-spacing: 0px;
    /* headline - large */
    --md-sys-typescale-headline-large-font-family-name: Roboto;
    --md-sys-typescale-headline-large-font-family-style: Regular;
    --md-sys-typescale-headline-large-font-weight: 400px;
    --md-sys-typescale-headline-large-font-size: 32px;
    --md-sys-typescale-headline-large-line-height: 40px;
    --md-sys-typescale-headline-large-letter-spacing: 0px;
    /* headline - medium */
    --md-sys-typescale-headline-medium-font-family-name: Roboto;
    --md-sys-typescale-headline-medium-font-family-style: Regular;
    --md-sys-typescale-headline-medium-font-weight: 400px;
    --md-sys-typescale-headline-medium-font-size: 28px;
    --md-sys-typescale-headline-medium-line-height: 36px;
    --md-sys-typescale-headline-medium-letter-spacing: 0px;
    /* headline - small */
    --md-sys-typescale-headline-small-font-family-name: Roboto;
    --md-sys-typescale-headline-small-font-family-style: Regular;
    --md-sys-typescale-headline-small-font-weight: 400px;
    --md-sys-typescale-headline-small-font-size: 24px;
    --md-sys-typescale-headline-small-line-height: 32px;
    --md-sys-typescale-headline-small-letter-spacing: 0px;
    /* body - large */
    --md-sys-typescale-body-large-font-family-name: Roboto;
    --md-sys-typescale-body-large-font-family-style: Regular;
    --md-sys-typescale-body-large-font-weight: 400px;
    --md-sys-typescale-body-large-font-size: 16px;
    --md-sys-typescale-body-large-line-height: 24px;
    --md-sys-typescale-body-large-letter-spacing: 0.5px;
    /* body - medium */
    --md-sys-typescale-body-medium-font-family-name: Roboto;
    --md-sys-typescale-body-medium-font-family-style: Regular;
    --md-sys-typescale-body-medium-font-weight: 400px;
    --md-sys-typescale-body-medium-font-size: 14px;
    --md-sys-typescale-body-medium-line-height: 20px;
    --md-sys-typescale-body-medium-letter-spacing: 0.25px;
    /* body - small */
    --md-sys-typescale-body-small-font-family-name: Roboto;
    --md-sys-typescale-body-small-font-family-style: Regular;
    --md-sys-typescale-body-small-font-weight: 400px;
    --md-sys-typescale-body-small-font-size: 12px;
    --md-sys-typescale-body-small-line-height: 16px;
    --md-sys-typescale-body-small-letter-spacing: 0.4px;
    /* body x-small */
    --md-sys-typescale-body-x-small-font-family-name: Roboto;
    --md-sys-typescale-body-x-small-font-family-style: Regular;
    --md-sys-typescale-body-x-small-font-weight: 400px;
    --md-sys-typescale-body-x-small-font-size: 11px;
    --md-sys-typescale-body-x-small-line-height: 14px;
    --md-sys-typescale-body-x-small-letter-spacing: 0.4px;
    /* label - large */
    --md-sys-typescale-label-large-font-family-name: Roboto;
    --md-sys-typescale-label-large-font-family-style: Medium;
    --md-sys-typescale-label-large-font-weight: 500px;
    --md-sys-typescale-label-large-font-size: 14px;
    --md-sys-typescale-label-large-line-height: 20px;
    --md-sys-typescale-label-large-letter-spacing: 0.1px;
    /* label - medium */
    --md-sys-typescale-label-medium-font-family-name: Roboto;
    --md-sys-typescale-label-medium-font-family-style: Medium;
    --md-sys-typescale-label-medium-font-weight: 500px;
    --md-sys-typescale-label-medium-font-size: 12px;
    --md-sys-typescale-label-medium-line-height: 16px;
    --md-sys-typescale-label-medium-letter-spacing: 0.5px;
    /* label - small */
    --md-sys-typescale-label-small-font-family-name: Roboto;
    --md-sys-typescale-label-small-font-family-style: Medium;
    --md-sys-typescale-label-small-font-weight: 500px;
    --md-sys-typescale-label-small-font-size: 11px;
    --md-sys-typescale-label-small-line-height: 16px;
    --md-sys-typescale-label-small-letter-spacing: 0.5px;
    /* title - large */
    --md-sys-typescale-title-large-font-family-name: Roboto;
    --md-sys-typescale-title-large-font-family-style: Regular;
    --md-sys-typescale-title-large-font-weight: 400px;
    --md-sys-typescale-title-large-font-size: 22px;
    --md-sys-typescale-title-large-line-height: 28px;
    --md-sys-typescale-title-large-letter-spacing: 0px;
    /* title - medium */
    --md-sys-typescale-title-medium-font-family-name: Roboto;
    --md-sys-typescale-title-medium-font-family-style: Medium;
    --md-sys-typescale-title-medium-font-weight: 500px;
    --md-sys-typescale-title-medium-font-size: 16px;
    --md-sys-typescale-title-medium-line-height: 24px;
    --md-sys-typescale-title-medium-letter-spacing: 0.15px;
    /* title - small */
    --md-sys-typescale-title-small-font-family-name: Roboto;
    --md-sys-typescale-title-small-font-family-style: Medium;
    --md-sys-typescale-title-small-font-weight: 500px;
    --md-sys-typescale-title-small-font-size: 14px;
    --md-sys-typescale-title-small-line-height: 20px;
    --md-sys-typescale-title-small-letter-spacing: 0.1px;

    /*table - tokens*/
    --md-sys-table-container-height: auto;
    --md-sys-table-container-min-height: 150px;
    --md-sys-table-container-width: 100%;
    --md-sys-info-table-width: fit-content;
    --md-sys--info-table-max-width: clamp(100px, 200px, 250px);
    --md-sys-table-border: 1px solid var(--md-sys-color-tertiary-container-light);
    /*table - tokens*/
}
