{% extends 'base.html.twig' %}

{% block body_id 'relation' %}
{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <twig:RelationForm  :form="form" :relation="relation"/>
 {% endblock %}

{% block breadcrumbs %}
{% endblock %}