@keyframes removeDiv {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@keyframes hide-element {
    to {
        height: 0;
        background-image: none;
        margin: 0;
        padding: 0;
        visibility: hidden;
    }
}
.flash-dismissible {
    animation:
        removeDiv 1s ease-out 4.8s forwards,
        hide-element 1s linear 6.4s forwards;
}

:where(.flash, .msg) {
    --flash-border-left-color: rgba(10, 10, 10, 1);
    --flash-background: none;
    padding: 12px;
    border: 1px solid rgba(10, 10, 10, 0.25);
    background: var(--flash-background);
    color: inherit;
    border-left: 8px solid var(--flash-border-left-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 1ch;
}
.msg-notice,
.flash-notice {
    --flash-background: var(--md-custom-color-qtinfo);
    --flash-border-left-color: #0375c0;
}
.msg-info,
.flash-info {
    --flash-background: var(--md-custom-color-qtinfo);
    --flash-border-left-color: #0375c0;
}
.msg-success,
.flash-success {
    --flash-background: var(--md-custom-color-qtsuccess);
    --flash-border-left-color: #3adb76;
}
.msg-warning,
.flash-warning {
    --flash-border-left-color: #ffae00;
    --flash-background: var(--md-custom-color-qtwarning);
}

.msg-error,
.flash-error {
    --flash-border-left-color: #cc4b37;
    --flash-background: var(--md-sys-color-error-container);
}

:where(
        .flash-warning,
        .flash-static,
        .flash-error,
        .flash-success,
        .flash-notice,
        .flash-info,
        .msg-warning,
        .msg-error,
        .msg-success,
        .msg-notice,
        .msg-secondary,
        .msg-info
    )::before {
    font-size: var(--icon-font-size);
    font-family: var(--icon-font-family);
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
}

:where(.msg-success, .flash-success)::before {
    content: '\e86c';
}
:where(.msg-info, .flash-info)::before {
    content: '\e88e';
}
:where(.msg-notice, .flash-notice)::before {
    content: '\e88e';
}

:where(.msg-warning, .flash-warning)::before {
    content: '\e002';
}

:where(.msg-error, .flash-error)::before {
    content: '\e000';
}
:where(.msg-notice, .flash-notice)::before {
    content: '\e7f7';
}

section .notification {
    background-color: #d1ecf1;
    padding: 18px;
    display: flex;
    border-left: 4px solid black;
    width: 50%;
    align-items: center;
    gap: 10px;
    color: #0c5460;
}

.notification::before {
    content: '\e88e';
    font-size: var(--icon-font-size);
    font-family: var(--icon-font-family);
    font-variation-settings:
        'FILL' 0,
        'wght' 500,
        'GRAD' 0,
        'opsz' 48;
}

.notification.success {
    background-color: #fff3cd;
    padding: 18px;
    display: flex;
}

/* -------------------End of  flashs and Notification--------------------------------------------- */
