:root,
[data-theme='light'] {
    --sweet-alert-bg: #eaebed;
    --sweet-alert-ok-bg: rgba(70, 98, 117, 1);
}
[data-theme='dark'] {
    --sweet-alert-bg: #464646;
    --sweet-alert-ok-bg: rgba(174, 202, 225, 1);
}
element.style {
    display: block;
    margin-top: -133px;
}
.sweet-alert button.confirm {
    background: var(--sweet-alert-ok-bg) !important;
}
.showSweetAlert[data-animation='pop'] {
    -webkit-animation: showSweetAlert 0.3s;
    animation: showSweetAlert 0.3s;
}
.sweet-alert fieldset {
    background: inherit;
}
.sweet-alert {
    background-color: var(--sweet-alert-bg) !important;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999;
}

.sweet-alert .sa-icon.sa-success .sa-fix,
.sweet-alert .sa-icon.sa-success::before,
.sweet-alert .sa-icon.sa-success::after {
    background: none;
}
