:root {
    --md-radio-icon-color: var(--md-sys-color-on-surface-variant);
    --md-radio-selected-icon-color: var(--md-sys-color-primary);
    --md-radio-icon-size: 20px;
}
input[type='radio'] {
    appearance: none;
    background: none;
    width: var(--md-radio-icon-size);
    cursor: pointer;
    outline: none;
    display: flex;
    border-radius: 50%;
    color: var(--md-radio-selected-icon-color);
}

input[type='radio']:checked::before {
    content: '\e837';
    align-items: end;
    display: flex;
    font-size: calc(var(--icon-font-size));
    font-family: var(--icon-font-family);
}
input[type='radio']:not(:checked):before {
    content: '\e836';
    align-items: end;
    display: flex;
    font-size: calc(var(--icon-font-size));
    font-family: var(--icon-font-family);
}

input[type='radio']:focus {
    background: var(--md-sys-color-surface-container-high);
}
input[type='radio']:hover {
    background: var(--md-sys-color-surface-container-high);
}
input[type='radio']:disabled {
    cursor: not-allowed;
}
/*--------------------Segemented button*-----------------*/
.segmented-button {
    display: flex;
}

.segmented-button input[type='radio'] {
    display: none;
}

.segmented-button :where(a, button) {
    padding: 8px 16px;
    font-family: var(--md-sys-typescale-label-small-font-family-name);
    font-style: var(--md-sys-typescale-label-small-font-family-style);
    font-weight: var(--md-sys-typescale-label-small-font-weight);
    font-size: var(--md-sys-typescale-label-small-font-size);
    line-height: var(--md-sys-typescale-label-small-line-height);
    letter-spacing: var(--md-sys-typescale-label-small-letter-spacing);
    border: 1px solid var(--md-sys-color-outline);
    display: flex;
    align-items: center;
    cursor: pointer;
    min-width: 30px;
    text-wrap: nowrap;
    text-decoration: none;
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
}

.segmented-button :where(input[type='radio']:checked + a, a.active-segment, button.active-segment) {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.segmented-button :where(input[type='radio']:first-of-type + a, a:first-of-type, button:first-of-type) {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.segmented-button :where(input[type='radio']:last-of-type + a, a:last-of-type, button:last-of-type) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.segmented-button :where(a, button):hover {
    background-color: color-mix(in srgb, var(--md-sys-color-on-secondary-container) 5%, transparent);
}
