:root {
    --input-width: clamp(10ch, 27ch, 30ch);
    --input-height: 28px;
}

.form-group .tagify {
    --tags-border-color: var(--md-sys-color-primary);
    --tags-focus-border-color: var(--md-sys-color-primary);
    --tags-hover-border-color: var(--md-sys-color-primary);
    --tags-disabled-bg: #f1f1f1;
    --tag-bg: solid transparent;
    --tag-hover: var(--md-sys-color-surface-container-highest);
    --tag-text-color: #000;
    --tag-text-color--edit: #000;
    --tag-pad: 5px 10px;
    --tag-inset-shadow-size: 1.1em;
    --tag-invalid-color: var(--md-custom-text-requried-field-color);
    --tag-invalid-bg: none;
    --tag-remove-bg: none;
    --tag-remove-btn-color: #000;
    --tag-remove-btn-bg: none;
    --tag-remove-btn-bg--hover: #c77777;
    --input-color: inherit;
    --tag-hide-transition: 0.3s;
    --placeholder-color: rgba(0, 0, 0, 0.4);
    --placeholder-color-focus: rgba(0, 0, 0, 0.25);
    --loader-size: 0.8em;
    --readonly-striped: 1;
    display: flex;
    min-width: var(--input-width);
    width: calc(var(--input-width) + 3ch);
    border-radius: 4px;
}
.form-group .tagify__dropdown__item--active {
    background: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-surface);
}
