textarea {
    --textarea-input-width: clamp(50%, 50%, 80%);
    resize: none;
    height: var(--input-height);
    padding: var(--input-padding);
    border: 1px solid var(--md-sys-color-secondary);
    border-radius: 4px;
}

:where(textarea):where(:is(textarea.ng-empty)):required {
    border: 1px solid rgb(255, 0, 0);
}

:where(textarea):where(:disabled) {
    border: 1px solid rgba(118, 118, 118, 0.3);
}
