:root {
    --md-primary-tab-container-color: var(--md-sys-color-surface);
    --md-primary-tab-active-indicator-color: var(--md-sys-color-primary);
    --md-primary-tab-icon-color: var(--md-sys-color-on-surface-variant);
    --md-primary-tab-container-shape: 0px;
    --md-primary-tab-container-width: 100%;
}

:where(.tabs > a, .tabs > button, fast-tab, .tabs > label, .tabs.tab-content-separated) {
    display: flex;
    justify-content: center;
    background: inherit;
    font-family: var(--md-sys-typescale-title-small-font-family-name);
    font-style: var(--md-sys-typescale-title-small-font-family-style);
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    font-size: var(--md-sys-typescale-title-small-font-size);
    line-height: var(--md-sys-typescale-title-small-line-height);
    letter-spacing: var(--md-sys-typescale-title-small-letter-spacing);
    height: 3rem;
    color: var(--md-sys-color-on-surface-variant);
    cursor: pointer;
    text-align: start;
    width: var(--md-primary-tab-container-width);
    align-items: center;
}

.tabs > a {
    text-decoration: none;
}

.tabs > label:hover {
    background: var(--md-sys-color-surface-container-high);
}

:where(fast-tab, .tabs > button, .tabs > a):hover {
    font-weight: bold;
    background: var(--md-sys-color-surface-container-high);
}

:where(.tabs.tab-content-separated .active, .tabs > .active, fast-tab[aria-selected='true']) {
    border-bottom: 4px solid var(--md-sys-color-primary);
}

.tabs,
fast-tabs::part(tablist) {
    display: flex;
    width: var(--md-primary-tab-container-width);
    justify-self: flex-start;
    border-bottom: 1px solid #e2e2e5;
}

.tabs.tab-content-separated {
    border-bottom: 1px solid #e2e2e5;
}

.tabs-sm {
    --md-primary-tab-container-width: 50%;
}
.tab-item {
    white-space: nowrap;
    padding: 0 30px;
}
