@import '../font/font-icon.css';
@import '../theme/theme.css';
@import '../icons/icons.css';
@import '../header/header.css';
@import '../buttons/material-buttons/material-buttons.css';
@import '../buttons/icon-buttons/icon-buttons.css';
@import '../inputs/checkbox.css';
@import '../inputs/input.css';
@import '../utilityClasses/utils.css';
@import '../loader/loader.css';
@import '../modal/popover.css';
@import '../modal/dialog.css';
@import '../dropdown/dropdown.css';
@import '../alert/alert.css';

[v-cloak] {
    display: none !important;
}

.main-body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
}

:where(.root) {
    display: grid;
    transition: grid-template-columns 0.5s ease;
    grid-template-columns: 300px auto;
}

.main-frame {
    height: 100%;
}
.main-frame iframe {
    height: 100%;
    width: 100%;
    border: none;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.qbil-text,
.qbil-logo {
    width: 150px;
    cursor: pointer;
    fill: var(--md-custom-color-on-qtblue);
    height: 60px;
    transition: all 0.6s ease-in-out;
}

.root.hidden-sidebar .has-sub,
.root.hidden-sidebar .nav-item {
    padding: 12px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    min-width: 30px;
}

:where(.aside) {
    --widget-icon-color: var(--md-custom-color-on-qtblue);
    font-size: 15px;
    background-color: var(--md-custom-color-qtblue);
    color: var(--md-custom-color-on-qtblue);
    height: 100vh;
    overflow: hidden;
}
:where(.dropdown-menu) {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
:where(.nav-item, .has-sub):not(.nav-child-item) {
    font-weight: 450;
}

:where(.aside-body) {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    gap: 3px;
}

:where(.aside-body)::-webkit-scrollbar {
    width: 5px;
}

:where(.aside-body)::-webkit-scrollbar-thumb {
    background-color: var(--md-custom-color-on-qtblue);
}

:where(.tool-tip) {
    display: flex;
    gap: 16px;
    align-items: center;
}

:where(.nav-item, .has-sub) {
    display: flex;
    align-items: center;
    min-width: 224px;
    cursor: pointer;
    opacity: 1;
    height: 25px;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    padding: 12px;
    justify-content: space-between;
}

:where(.root.expanded-body .nav-item, .root.expanded-body .has-sub) {
    opacity: 0;
}

:where(.nav-dropdown-item) {
    display: flex;
    width: 100%;
    min-width: 200px;
    align-items: center;
    opacity: 1;
    transition: opacity 0.9s ease-in-out;
    padding: 6px 0;
    justify-content: space-between;
}
:where(.nav-child-item) {
    width: 100%;
    height: 100%;
    padding-left: 40px;
}

:where(.nav-sub-item) {
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    padding: 12px 0 8px 0;
    height: 0;
    display: none;
    transition: all 0.9s ease-in-out;
}

:where(.has-sub.active ~ .nav-sub-item) {
    opacity: 1;
    display: flex;
    cursor: pointer;
    height: 28px;
}

:where(.expanded-body) {
    grid-template-columns: 0 auto;
}

:where(.hidden-sidebar) {
    grid-template-columns: 80px auto;
}
:where(.aside-head) {
    display: flex;
    justify-content: center;
    align-items: center;
}
:where(.has-sub.active) {
    background-color: #6155557f;
}
:where(.nav-item, .has-sub):hover {
    background-color: #6155557f;
}
:where(.nav-item .text, .has-sub .text) {
    width: 100%;
    opacity: 1;
    min-width: 200px;
}

:where(.root.expanded-body .nav-dropdown-item) {
    opacity: 0;
}

:where(.root.expanded-body .nav-dropdown-item) {
    opacity: 0;
}

:where(.root.hidden-sidebar .nav-sub-item, .root.hidden-sidebar .nav-dropdown-item) {
    opacity: 0;
    display: none;
}

:where(.root.hidden-sidebar .tool-tip .text) {
    opacity: 0;
    width: 10px;
}

:where(.root.hidden-sidebar .nav-item .sidebar-action, .root.hidden-sidebar .nav-item .text) {
    width: 0;
    opacity: 0;
}
.root.expanded-body .has-sub,
.root.expanded-body .nav-item,
.root.expanded-body .qbil-text,
.root.expanded-body .qbil-Q,
.root.hidden-sidebar .qbil-text {
    display: none;
}
.root.hidden-sidebar .qbil-logo svg {
    display: flex;
    justify-content: flex-start;
    padding-right: 30px;
    align-self: center;
    height: 60px;
    width: 90px;
}
.qbil-Q {
    fill: #fdfd6e;
}

.nav-item.active {
    border-radius: 50px;
    background: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}
.has-sub.active .expand-icon::before {
    content: '\e5ce';
}

.sidebar-plus-icon:hover::before {
    content: '\e147';
}

.root.expanded-body .menu-bar-icon::before {
    content: '\e5d2';
}

.root.hidden-sidebar .menu-bar-icon::before {
    content: '\e5cd';
}
.root .menu-bar-icon::before {
    content: '\e9bd';
}
.divider {
    border-bottom: 1px solid var(--md-sys-color-surface-container);
}
