/*----------------------------Search Table--------------------------- */
.search-table {
    border-collapse: collapse;
    min-width: 100%;
    table-layout: fixed;
}

.search-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    color: var(--md-sys-color-on-background);
    font-weight: 600;
    font-size: var(--md-sys-typescale-body-small-font-size);
    padding: 0 8px 8px 8px;
    background-color: var(--md-sys-color-background);
}

.search-table td {
    padding: 0 8px;
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    color: var(--md-sys-color-on-surface);
    cursor: grabbing;
}

.search-table input[type='text'] {
    --input-width: auto;
}

.search-table input[type='search'] {
    --input-width: -webkit-fill-available;
}

.search-table tbody tr {
    height: 38px;
    border: var(--md-sys-table-border);
}
.search-table tbody tr:hover,
.styled-table tbody tr:hover {
    background-color: var(--md-sys-color-secondary-container);
}

.search-table .content {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 205px;
    height: 20px;
    overflow: hidden;
    margin: 0 auto;
    width: min-content;
    min-width: 100%;
}

.cell-content {
    display: flex;
    justify-content: space-between;
}

#container .navigation-bar {
    position: unset;
    box-shadow: none;
}

.search-table .preview-button {
    min-width: 5ch;
}

.header-text {
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: 0 0 8px 0;
}

.search-page-count {
    color: var(--md-sys-color-on-background);
}

/*----------------------------Search Table--------------------------- */
/*---------------------------Table Container------------------------ */

:where(.table-container) {
    height: var(--md-sys-table-container-height);
    overflow: auto;
    width: var(--md-sys-table-container-width);
    min-height: var(--md-sys-table-container-min-height);
}

.table-container::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/*--------------------------Table Container------------------------ */

/*----------------------------Info Table-------------------------- */

:where(.info-table) {
    width: 100%;
    border-collapse: collapse;
}

:where(.info-table tr th, .info-table tr td) {
    min-width: var(--md-sys-info-table-width);
    max-width: var(--md-sys--info-table-max-width);
    padding: 6px;
    color: var(--md-sys-color-on-background);
    white-space: normal;
    text-align: start;
    height: 22px;
}

.info-table th {
    font-weight: 600;
}

.info-table td {
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    text-wrap: balance;
    word-wrap: break-word;
}

.info-table td a {
    text-align: start;
    white-space: normal;
}

.info-table .quantity,
.search-table .quantity {
    text-align: right;
    white-space: nowrap;
}

.info-table td .form-group {
    display: flex;
    justify-content: space-between;
}

.bordered tr:not(:last-child) {
    border-bottom: var(--md-sys-table-border);
}

.fixed-table {
    table-layout: fixed;
}

/*----------------------------Styled Table-------------------------- */

fieldset .styled-table {
    outline: none;
}
fieldset .styled-table tr {
    border-top: none;
    border-left: none;
    border-right: none;
}
.styled-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 4px 4px 0 0;
    outline: 1px solid #f2f0f1;
}

.styled-table th {
    font-size: var(--md-sys-typescale-body-small-font-size);
    padding: 16px;
    color: var(--md-sys-color-primary);
    text-align: left;
    font-weight: var(--md-sys-typescale-title-small-font-weight);
    line-height: 1rem;
    background-color: var(--md-sys-color-surface-container-lowest);
}

.styled-table tr {
    height: 40px;
    border: var(--md-sys-table-border);
}

.styled-table td {
    padding: 16px;
    color: var(--md-sys-color-on-background);
    font-weight: var(--md-sys-typescale-body-small-font-weight);
    max-width: 200px;
    word-wrap: break-word;
}

.styled-table .quantity {
    text-align: right;
}

.styled-table .strong {
    font-weight: bold;
}

:where(.styled-table td input[type='text'], .styled-table td input[type='date'], .styled-table td .select2-container) {
    --input-width: clamp(10ch, 27ch, 100%);
}
